{% extends 'base/base.html' %}

{% block title %}Add_Host{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/app/add_host.css"/>
{% endblock %}

{% block content %}
    <form class="dark-matter">
        <h1>Host Form
            <span>Please fill all the texts in the fields.</span>
        </h1>
        <label>
            <span>Idc :</span>
            <select id="idc" name="idc_name">
                {% for idc in idc_list %}
                    <option data-saltip="{{ idc.salt_ip }}">{{ idc.idc_name }}</option>
                {% endfor %}
            </select>
        </label>
        <label>
            <span>Group :</span>
            <select id="group" name="group_name">
                {% for group in group_list %}
                    <option>{{ group.group_name }}</option>
                {% endfor %}
            </select>
        </label>

        <!--<label>-->
            <!--<span>Host IP :</span>-->
            <!--<input id="host_ip" type="text" name="host_ip" placeholder="host_ip"/>-->
        <!--</label>-->
        <label>
            <span>&nbsp;</span>
            <input type="button" class="button" value="Add"/>
        </label>
    </form>
    <div class="hd_text">
        <span>请在到要导入的主机上以<B style="color:red">root</B>用户执行以下命令，即可将主机导入到<B style="color:red"></B>集群中的<B style="color:red"></B>主机组中:</span>
        <textarea class="text"></textarea>
    </div>
{% endblock %}

{% block script %}
<script src="/static/js/add_host.js"></script>
{% endblock %}