{% extends 'base/base.html' %}

{% block title %}Add_Group{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/app/add_group.css"/>
{% endblock %}

{% block content %}
    <form action="/app/add_group/" method="post" class="dark-matter">
        <h1>Group Form
            <span>Please fill all the texts in the fields.</span>
        </h1>
        <label>
            <span>Group Name :</span>
            <input id="name" type="text" name="group_name" placeholder="group_name"/>
        </label>

        <label>
            <span>Idc :</span>
            <select id="idc" name="idc_name">
                {% for idc in idc_list %}
                    <option>{{ idc.idc_name }}</option>
                {% endfor %}
            </select>
        </label>
        <label>
            <span>&nbsp;</span>
            <input type="submit" class="button" value="Send"/>
        </label>
    </form>
{% endblock %}

{% block script %}
{% endblock %}