{% extends 'base/base.html' %}

{% block title %}Add_IDC{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/app/add_idc.css"/>
{% endblock %}

{% block content %}
    <form action="/app/add_idc/" method="post" class="dark-matter">
        <h1>IDC Form
            <span>Please fill all the texts in the fields.</span>
        </h1>
        <label>
            <span>IDC Name :</span>
            <input id="name" type="text" name="idc_name" placeholder="idc_name"/>
        </label>

        <label>
            <span>IDC Remark :</span>
            <input id="email" type="text" name="idc_remark" placeholder="idc_remark"/>
        </label>
        <label>
            <span>Salt IP :</span>
            <input id="salt" type="text" name="idc_salt" placeholder="idc_salt"/>
        </label>
        <label>
            <span>Jump IP :</span>
            <input id="jump" type="text" name="idc_jump" placeholder="idc_jump"/>
        </label>
        <label>
            <span>&nbsp;</span>
            <input type="submit" class="button" value="Send"/>
        </label>
    </form>
{% endblock %}

{% block script %}
{% endblock %}