<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manager</title>
    <link rel="stylesheet" href="/static/libs/bootstrap/3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/app/add_group.css"/>
</head>
<body>
<div id="top">
    <label>配置管理数据库平台</label>
</div>

<div id="left">
    <ul id="menu">
        <li>
            <a href="/app/index"><i class="glyphicon glyphicon-home lab_tab">&nbsp;控制台</i></a>
        </li>
        <li>
            <a href="/app/idc"><i class="glyphicon glyphicon-tasks lab_tab">&nbsp;集群管理</i></a>
        </li>
        <li>
            <a href="/app/group"><i class="glyphicon glyphicon-tasks lab_tab">&nbsp;主机组管理</i></a>
        </li>
        <li>
            <a href="/app/host_list"><i class="glyphicon glyphicon-tasks lab_tab">&nbsp;主机管理</i></a>
        </li>
        <li>
            <a href="/app/get_add_host_page"><i class="glyphicon glyphicon-tasks lab_tab">&nbsp;主机采集</i></a>
        </li>
        <li>
            <a href="/app/group"><i class="glyphicon glyphicon-list-alt lab_tab">&nbsp;分组管理</i></a>
        </li>
        <li>
            <a href="/app/file"><i class="glyphicon glyphicon-file lab_tab">&nbsp;文件推送</i></a>
        </li>
        <li>
            <a href="/app/command"><i class="glyphicon glyphicon-random lab_tab">&nbsp;单台命令</i></a>
        </li>
        <li>
            <a href="/app/command_group"><i class="glyphicon glyphicon-retweet lab_tab">&nbsp;批量命令</i></a>
        </li>
        <li>
            <a href="/app/job"><i class="glyphicon glyphicon-sort-by-attributes lab_tab">&nbsp;任务流程</i></a>
        </li>
    </ul>
</div>

<div id="right">
    <form action="/app/add_group/" method="post" class="dark-matter">
        <h1>Group Form
            <span>Please fill all the texts in the fields.</span>
        </h1>
        <label>
            <span>Group Name :</span>
            <input id="name" type="text" name="group_name" placeholder="group_name"/>
        </label>

        <label>
            <span>Idc :</span>
            <select id="idc" name="idc_name">
                {% for idc in idc_list %}
                    <option>{{ idc.idc_name }}</option>
                {% endfor %}
            </select>
        </label>
        <label>
            <span>&nbsp;</span>
            <input type="submit" class="button" value="Send"/>
        </label>
    </form>
</div>

</body>
</html>