{% extends 'base/base.html' %}

{% block title %}Approval_Request{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/app/approval_request.css"/>
{% endblock %}

{% block content %}
    <div id="select_div">
        <select class="idc">
            {% for idc in idc_list %}
                <option>{{ idc.idc_name }}</option>
            {% endfor %}
        </select>
        <select class="group">
            {% for group in group_list %}
                <option>{{ group.group_name }}</option>
            {% endfor %}
        </select>
    </div>
    <ul class="hostlist_box">
        {% for host in host_list %}
            <li data-hostname="{{ host.hostname }}">{{ host.nick_name }}</li>
        {% endfor %}
    </ul>
    <textarea class="hostlist_box"></textarea>
    <a href="/app/request" class="btn">Add Idc</a>
{% endblock %}

{% block script %}
<script src="/static/js/approval_request.js"></script>
{% endblock %}