{% extends 'base/base.html' %}

{% block title %}Approval_Request{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/app/approval_request.css"/>
{% endblock %}

{% block content %}
    <div id="select_div">
        <select class="idc">
            {% for idc in idc_list %}
                <option>{{ idc.idc_name }}</option>
            {% endfor %}
        </select>
        <select class="group">
            {% for group in group_list %}
                <option>{{ group.group_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="hostlist_box hostlist_box_left host">
        {% for host in host_list %}
            <span class="nick-name" data-hostname="{{ host.hostname }}">{{ host.nick_name }}</span>
        {% endfor %}
    </div>
    <div id="delete_option">
        <span class="opt btn-radius" id="add">>></span>
        <span class="opt btn-radius" id="remove"> << </span>
    </div>
    <div class="hostlist_box hostlist_box_right">
    </div>
    <input class="btn-default btn-radius" value="Apply" id="apply" />
{% endblock %}

{% block script %}
<script src="/static/js/approval_request.js"></script>
{% endblock %}