{% extends 'base/base.html' %}

{% block title %}Host List{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/app/host_list.css"/>
{% endblock %}

{% block content %}
    <table class="hovertable">
        <tr>
            <th>集群名称</th>
            <th>主机组</th>
            <th>主机名称</th>
            <th>公网IP</th>
            <th>私网IP</th>
            <th>操作</th>
        </tr>
        {% for host in host_list %}
            <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
                <td>{{ host.idc_name }}</td>
                <td>{{ host.group_name }}</td>
                <td><span class="glyphicon glyphicon-wrench" data-hostid="{{ host.id }}"></span>&nbsp;<label>{{ host.hostname }}</label></td>
                <td><span class="glyphicon glyphicon-wrench" data-hostid="{{ host.id }}"></span>&nbsp;<label>{{ host.ip }}</label></td>
                <td><span class="glyphicon glyphicon-wrench" data-hostid="{{ host.id }}"></span>&nbsp;<label>{{ host.inner_ip }}</label></td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
            </tr>
        {% endfor %}
    </table>
    <span class="glyphicon glyphicon-refresh btn"></span>
{% endblock %}

{% block script %}
<script src="/static/js/host_list.js"></script>
{% endblock %}