<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/libs/bootstrap/3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/base/top.css"/>
    <link rel="stylesheet" href="/static/css/base/menu.css"/>
    <link rel="stylesheet" href="/static/css/base/base.css"/>
    {% block css %}{% endblock %}
</head>
<body>
{% include 'base/top.html' %}
{% include 'base/menu.html' %}


<div id="right">
{% block content %}{% endblock %}
</div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/top.js"></script>
{% block script %}{% endblock %}
</html>