<div id="menu">
    <ul class="menu">
        <li>
            <a href="/app/index">Dashbord</a>
        </li>
        <li>
            <a href="/app/idc">Cluster</a>
        </li>
        <li>
            <a href="/app/group">Group</a>
        </li>
        <li>
            <a href="#">Host</a>
            <ul>
                <li>
                    <a href="/app/host_list">Host List</a>
                </li>
                <li>
                    <a href="/app/get_add_host_page">Host Add</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">User</a>
            <ul>
                <li>
                    <a href="/app/user_list">User List</a>
                </li>
                <li>
                    <a href="/app/user_grouping">User Grouping</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Approval</a>
            <ul>
                <li>
                    <a href="/app/get_approval_request">Approval Req</a>
                </li>
                <li>
                    <a href="/app/approval_accept">Approval Deal</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/app/file">File</a>
        </li>
        <li>
            <a href="#">Command</a>
            <ul>
                <li>
                    <a href="/app/command">Single Command</a>
                </li>
                <li>
                    <a href="/app/command_group">Batch Command</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/app/job">Task</a>
        </li>
        <!-- 站内信 -->
        <li>
            <a href="#">Job</a>
            <ul>
                <li>
                    <a href="/order/inbox">Inbox</a>
                </li>
                <li>
                    <a href="/order/outbox">Outbox</a>
                </li>
            </ul>
        </li>
    </ul>
</div>