#select_div {
    width: 750px;
    z-index: 100;
    padding-bottom: 25px;
}

#select_div .idc {
    width: 100px;
    height: 20px;
    margin-left: 50px;
}

#select_div .group {
    width: 100px;
    height: 20px;
    margin-left: 50px;
}

#select_div .host {
    width: 100px;
    height: 20px;
    margin-left: 50px;
}

.hostlist_box {
    margin-left: 50px;
    resize: none;
    width: 300px;
    height: 200px;
}

.btn
{
    background: #014995 none repeat scroll 0 0;
    bottom: 40px;
    box-shadow: 5px 5px 5px #b8c4f8;
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 5px;
    position: fixed;
    right: 70px;
    text-decoration: none;
    z-index: 1;
}