#content{
    display:flex;
    justify-content:space-between;
}
.table-host{
    width:calc(100% - 280px);
    margin-top:50px;
    margin-right:-22px;
}
.glyphicon-remove:hover{
    cursor:pointer;
    color:red;
}
.btn-default{
    bottom: 40px;
    position: fixed;
    right: 70px;
    z-index: 1;
}
