body {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#top {
    width: 100%;
    height: 100px;
    background-color: #555555;
    text-shadow: 1px 1px 1px #444;
    text-align: left;
}

#top label {
    display: block;
    padding-left: 30px;
    padding-top: 30px;
    color: #D3D3D3;
}

#left {
    float: left;
    margin-left: 70px;
    margin-top: 35px;
    width: 100px;
}

#menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu li {
    display: block;
    width: 200px;
	font-size: 100%;
    text-shadow: 1px 1px 1px #444;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
#menu a {
	background: #555555;
	color: #ccc;
	display: list-item;
	padding: 8px 12px;
	font-weight: normal;
	text-decoration: none;
}
#menu a:hover {
	background: #2580a2;
	color: #fff;
}

#right {
    float: right;
    height: 300px;
    margin-right: 70px;
    margin-top: 35px;
    width: 65%;
}

table.hovertable {
    margin-left: 10px;
    width: 800px;
	font-family: verdana,arial,sans-serif;
	font-size:7px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.hovertable tr {
	background-color:#d4e3e5;
}
table.hovertable th {
    width: 14.28%;
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.hovertable span{
    cursor: pointer;
}

.btn
{
    background: #014995 none repeat scroll 0 0;
    bottom: 40px;
    box-shadow: 5px 5px 5px #b8c4f8;
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 5px;
    position: fixed;
    right: 70px;
    text-decoration: none;
    z-index: 1;
}