table.hovertable {
    margin-left: 10px;
    width: 700px;
	font-family: verdana,arial,sans-serif;
	font-size:7px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.hovertable tr {
	background-color:#d4e3e5;
}
table.hovertable th {
    width: 16.666%;
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.hovertable span{
    cursor: pointer;
}

.btn
{
    background: #014995 none repeat scroll 0 0;
    bottom: 40px;
    box-shadow: 5px 5px 5px #b8c4f8;
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 5px;
    position: fixed;
    right: 70px;
    text-decoration: none;
    z-index: 1;
}