#select_div {
    width: 750px;
    padding-bottom: 25px;
    padding-top:30px;
}

#select_div .idc {
    width: 150px;
    height: 35px;
    margin-left: 50px;
}

#select_div .group {
    width: 150px;
    height: 35px;
    margin-left: 50px;
}

#select_div .host {
    width: 100px;
    height: 20px;
    margin-left: 50px;
}

.hostlist_box{
    border: 2px solid #abadb3;
    display: inline-block;
    width: 500px;
    height: 300px;
    overflow-x:hidden;
    overflow-y:scroll;
}
.hostlist_box_left {
    margin-left: 50px;
}

.hostlist_box_right {
    margin-left: 20px;
}

.nick-name {
    display: block;
    height:40px;
    line-height:40px;
    padding:0 10px;
    border-bottom: 1px dashed rgba(0,0,0,0.5);
	cursor: default;
}

#right span:hover {
    background-color: #00FFFF;
}

#delete_option {
    margin-left: 20px;
    display: inline-block;
    height: 300px;
    text-align: center;
    vertical-align: top;
}

#delete_option .opt {
    margin-top: 30px;
    display: block;
    width: 125px;
    height: 45px;
    line-height:45px;
    text-align:center;
    cursor: pointer;
    background:#000;
    color:#fff;
}
#delete_option .opt:nth-child(1){
    margin-top:88px;
}

.btn-default{
    bottom: 40px;
    position: fixed;
    right: 70px;
    z-index: 1;
}
