#menu {
    width: 200px;
    float:left;
}

.menu {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 8px;
    background: rgba(0,0,0,0.8);
}

.menu li {
    display: block;
    line-height:40px;
}

.menu li ul {
    display:none;
    background: #4c4e5a;
}
.menu a {
    display: block;
    line-height: 40px;
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
}

.menu li:hover > a { color: #8fde62; }

