.table-default{
    width:calc(100% - 250px);
    margin-top:50px;
	font-size:7px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
.table-default tr th{
    background:#fff;
	border-width: 1px;
	height:50px;
	border-style: solid;
	border-color: #a9c6c9;
}
.table-default tr:nth-child(even){
     background:#000;
     color:#fff;
}
.table-default tr:nth-child(odd){
    background:#fff;
}
.table-default tr td{
	padding: 8px;
}