<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manager</title>
    <link rel="stylesheet" href="/static/css/index.css"/>
</head>
<body>
<div id="top">
    <label>资源管理系统</label>
</div>

<div id="left">
    <ul class="nav" id="side-menu">
        <li>
            <a href="/app/index"><i class="lab_tab">控制台</i></a>
        </li>
        <li>
            <a href="/app/idc"><i class="lab_tab">机房管理</i></a>
        </li>
        <li>
            <a href="/app/mac"><i class="lab_tab">主机管理</i></a>
        </li>
        <li>
            <a href="/app/asset"><i class="lab_tab">资产审计</i></a>
        </li>
        <li>
            <a href="/app/asset_auto"><i class="lab_tab">资产采集</i></a>
        </li>
        <li>
            <a href="/app/group"><i class="lab_tab">分组管理</i></a>
        </li>
        <li>
            <a href="/app/file"><i class="lab_tab">文件推送</i></a>
        </li>
        <li>
            <a href="/app/command"><i class="lab_tab">单台命令</i></a>
        </li>
        <li>
            <a href="/app/command_group"><i class="lab_tab">批量命令</i></a>
        </li>
        <li>
            <a href="/app/job"><i class="lab_tab">任务流程</i></a>
        </li>
    </ul>
</div>

<div id="right">
</div>

</body>
</html>