.email-list {
    display: inline-block;
    height:650px;
    width:200px;
    border: 1px solid #808080;
    overflow: auto;
    background: #dbe2e8;
}

.email-list ul {
}

.email-list li {
    margin-left: -40px;
    border-bottom: 1px dashed #808080;
}
.email-list label {

}
.email-list .from_user {
    padding: 3px;
    width: 100px;
    display: inline-block;
    margin-left: 3px;
    font-size: 8px;
    color: black;
}
.email-list .create_time {
    padding: 3px;
    width: 80px;
    margin-right: 3px;
    float: right;
    display: inline-block;
    color: #808080;
}

.email-list .title {
    padding: 3px;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: #808080;
}

.email-list .content {
    display: none;
}

.email-list .to_user {
    display: none;
}

.unread {
    font-weight: bold;
    color: black;
}

.email-content {
    display: inline-block;
    margin-left: 5%;
    padding: 15px;
    width: 70%;
    height: 650px;
    background: #dbe2e8 url("/static/image/bj.jpg") no-repeat;
    background-size: 100%;
}

.email-content .email_title {
    width: 98%;
    display: block;
    float: left;
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 18px;
    color: black;
}

.email-content .email_head {
    width: 98%;
    float: left;
    padding: 15px;
    background: #f1f6f5;
    border: 1px solid #dbdddd;
    font-size: 12px;
    display: none;
}

.email-content .email_head label {
    width: 45px;
    display: inline-block;
}

.email-content .email_head span {
    display: inline-block;
    width: 94%;
    margin-top: 15px;
}

.email-content .email_content {
    display: block;
    float: left;
    width: 98%;
    padding: 10px;
}

.email-content .email_from_user {
    display: block;
    float: left;
    width: 98%;
    padding: 15px;
    border-top: 1px solid #b5c4df;
}

#content ul li {
    border-bottom: 1px solid #808080;
}

.reply {
    display: none;
    float: right;
    position: relative;
    width: 80px;
    padding: 5px;
    top: 30px;
    right: 100px;
}