{% extends 'base/base.html' %}

{% block title %}Add_Group{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/order/inbox.css"/>
{% endblock %}

{% block content %}
    <div class="email-list">
        <ul>
            <li>
                <label class="name">发件人</label><label class="time">2016-12-12</label>
                <label class="title">邮件名称</label>
            </li>
            <li>邮件名称</li>
            <li>邮件名称</li>
            <li>邮件名称</li>
            <li>邮件名称</li>
            <li>邮件名称</li>
            <li>邮件名称</li>
            <li>邮件名称</li>
        </ul>
    </div>
    <div class="eamil-content">

    </div>
{% endblock %}

{% block script %}
<script src="/static/js/order/inbox.js"></script>
{% endblock %}