{% extends 'base/base.html' %}

{% block title %}Add_Group{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/order/inbox.css"/>
{% endblock %}

{% block content %}
    <div class="email-list">
        <ul>
            {% for inbox in inbox_list %}
                {% if inbox.status == 0 %}
                    <li>
                        <span class="from_user unread">{{ inbox.from_user }}</span><span class="create_time unread">{{ inbox.create_time }}</span>
                        <span class="title unread">{{ inbox.title }}</span>
                        <span data-emailid="{{ inbox.id }}" class="content">{{ inbox.content |safe }}</span><span class="to_user">{{ inbox.to_user }}</span>
                    </li>
                {% else %}
                    <li>
                        <span class="from_user">{{ inbox.from_user }}</span><span class="create_time">{{ inbox.create_time }}</span>
                        <span class="title">{{ inbox.title }}</span>
                        <span data-emailid="{{ inbox.id }}" class="content">{{ inbox.content |safe}}</span><span class="to_user">{{ inbox.to_user }}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="email-content">
        <span class="email_title"></span>
        <div class="email_head">
            <label>发件人:</label><span class="from_user"></span>
            <label>收件人:</label><span class="to_user"></span>
            <label>时间:</label><span class="create_time"></span>
        </div>
        <span class="email_content"></span>
        <span class="email_from_user"></span>
        <input type="button" value="回复" class="reply">
    </div>
{% endblock %}

{% block script %}
<script src="/static/js/order/inbox.js"></script>
{% endblock %}