{% extends 'base/base.html' %}

{% block title %}Add_Group{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/order/inbox.css"/>
{% endblock %}

{% block content %}
    <div class="email-list">
        <ul>
            <li>
                <label class="name">发件人</label><label class="time">2016-12-12</label>
                <label class="title">【听云】「App」关键元素解除告警:「s_api_get_ios」网络错误率低于阈值</label>
            </li>
            <li>
                <label class="name">发件人</label><label class="time">2016-12-12</label>
                <label class="title">【听云】「App」关键元素解除告警:「s_api_get_ios」网络错误率低于阈值</label>
            </li>
            <li>
                <label class="name">发件人</label><label class="time">2016-12-12</label>
                <label class="title">【听云】「App」关键元素解除告警:「s_api_get_ios」网络错误率低于阈值</label>
            </li>
            <li>
                <label class="name">发件人</label><label class="time">2016-12-12</label>
                <label class="title">【听云】「App」关键元素解除告警:「s_api_get_ios」网络错误率低于阈值</label>
            </li>
            <li>
                <label class="name">发件人</label><label class="time">2016-12-12</label>
                <label class="title">【听云】「App」关键元素解除告警:「s_api_get_ios」网络错误率低于阈值</label>
            </li>
            <li>
                <label class="name">发件人</label><label class="time">2016-12-12</label>
                <label class="title">【听云】「App」关键元素解除告警:「s_api_get_ios」网络错误率低于阈值</label>
            </li>
            <li>
                <label class="name">发件人</label><label class="time">2016-12-12</label>
                <label class="title">【听云】「App」关键元素解除告警:「s_api_get_ios」网络错误率低于阈值</label>
            </li>
            <li>
                <label class="name">发件人</label><label class="time">2016-12-12</label>
                <label class="title">【听云】「App」关键元素解除告警:「s_api_get_ios」网络错误率低于阈值</label>
            </li>
            <li>
                <label class="name">发件人</label><label class="time">2016-12-12</label>
                <label class="title">【听云】「App」关键元素解除告警:「s_api_get_ios」网络错误率低于阈值</label>
            </li>
            <li>
                <label class="name">发件人</label><label class="time">2016-12-12</label>
                <label class="title">【听云】「App」关键元素解除告警:「s_api_get_ios」网络错误率低于阈值</label>
            </li>
            <li>
                <label class="name">发件人</label><label class="time">2016-12-12</label>
                <label class="title">【听云】「App」关键元素解除告警:「s_api_get_ios」网络错误率低于阈值</label>
            </li>
            <li>
                <label class="name">发件人</label><label class="time">2016-12-12</label>
                <label class="title">【听云】「App」关键元素解除告警:「s_api_get_ios」网络错误率低于阈值</label>
            </li>
            <li>
                <label class="name">发件人</label><label class="time">2016-12-12</label>
                <label class="title">【听云】「App」关键元素解除告警:「s_api_get_ios」网络错误率低于阈值</label>
            </li>
            <li>
                <label class="name">发件人</label><label class="time">2016-12-12</label>
                <label class="title">【听云】「App」关键元素解除告警:「s_api_get_ios」网络错误率低于阈值</label>
            </li>
            <li>
                <label class="name">发件人</label><label class="time">2016-12-12</label>
                <label class="title">【听云】「App」关键元素解除告警:「s_api_get_ios」网络错误率低于阈值</label>
            </li>
            <li>
                <label class="name">发件人</label><label class="time">2016-12-12</label>
                <label class="title">【听云】「App」关键元素解除告警:「s_api_get_ios」网络错误率低于阈值</label>
            </li>
        </ul>
    </div>
    <div class="eamil-content">
        <span>【听云】「App」关键元素解除告警:「s_api_get_ios」网络错误率低于阈值</span>
        <div id="content">
            <ul>
                <li>content</li>
                <li>name</li>
                <li>content</li>
                <li>name</li>
                <li>content</li>
                <li>name</li>
                <li>content</li>
                <li>name</li>
                <li>content</li>
                <li>name</li>
            </ul>
        </div>
        <div id="text">
            <textarea>

            </textarea>
            <input type="button" value="回复">
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="/static/js/order/inbox.js"></script>
{% endblock %}